@media (min-width: 320px) {

  .header__content {
    min-height: 118px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .header__logo {
    order: -1;
    display: flex;
  }

  .header__list {
    gap: 56px;
    padding: 0;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
  }

  .header__list__item {
    display: inline-block;
  }

  .main {
    padding-top: 0;
    background-image: none;
    min-height: 354px;
    background: radial-gradient(39% 49% at 60% 70%, #555681 0%, #2E2B44 100%);
  }

  .hero {
    margin-bottom: 50px;
  }

  .hero__title {
    font-size: 30px;
    font-weight: 700;
    padding-top: 50px;
  }

  .hero__descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 50px;
  }

  .hero__btn {
    height: 60px;
    font-size: 16px;
  }

  .about {
    margin-bottom: 52px;
  }

  .about__title {
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
  }

  .about__descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  .about__content {
    padding-left: 0px;
    background-image: none;
    margin-bottom: 30px;
  }

  .about__list {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .about__item {
    gap: 30px;
  }

  .teachers__title {
    font-size: 20px;
    font-weight: 700;
  }

  .teachers__content {
    padding-top: 50px;
  }

  /* .teachers__item {
    display: flex;
    flex-direction: column;
  } */

  .teacher__photo {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* margin-bottom: 30px; */
  }

  .teachers__descr {
    margin-bottom: 50px;
  }

  .courses__title {
    font-size: 20px;
    font-weight: 700;
  }

}

@media (min-width: 576px) {


}

@media (min-width:768px) {

}

@media (min-width: 992px) {

}

