
@media (max-width: 992px) {

  .main {
    background-image: url(../img/hero-pic-768.png);
    background-repeat: no-repeat;
    background-size: 320px 350px;
    background-position: right 5% bottom 56%;
  }

  .hero {
    background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #2E2B44 100%);
  }

  .hero__title {
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  }

  .hero__descr {
    line-height: 150%;
    margin-bottom: 63px;
  }

  .about__item {
    flex-direction: column;
    align-items: start;
  }

  .about__icon {
    margin-bottom: 15px;
  }

  .teachers__content {
    margin-bottom: 0;
    padding-bottom: 80px;
  }

  .teachers__item {
    width: calc(100);
  }
  .teachers__photo {
    width: 100%;
  }

  .about {
    margin-bottom: 76px;
  }

  .about__content {
    padding-left: 255px;
    margin-bottom: 24px;
    background-image: url(../img/about_768.png);
    background-position: left 3% bottom 55%;
  }

  .about__title {
    margin-bottom: 17px;
  }

  .about__descr {
    line-height: 150%;
  }

  .about__icon {
    margin-bottom: 10px;
  }

  .about__text {
    line-height: 120%;
  }

  .teachers__content {
    padding-top: 70px;
    padding-bottom: 28px;
  }

  .teachers__item {
    margin-bottom: 21px;
  }

  .teachers__photo {
   margin-bottom: 28px;
  }

  .teachers__subtitle {
    margin-bottom: 8px;
  }

  .teachers__descr {
    line-height: 150%;
  }

  .courses__item {
    min-height: 556px;
  }

  .courses__btn {
    padding: 21px 56px;
  }
}

@media (max-width: 767px) {

  .header__content {
    height: 133px;
    padding: 30px 30px;
  }
  .header__content {
    flex-direction: column;
    align-items: center;
  }

  .header__list {
    gap: 56px;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
  }

  .hero {
    background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #2E2B44 100%);
  }

  .hero__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 100%;
  }

  .main {
    padding-top: 78px;
    padding-bottom: 0;
    min-height: 567px;
    background-image: none;

  }

  .about {
    margin-bottom: 55px;
  }

  .about__content {
    padding-left: 195px;
    background-image: url(../img/about_567.jpg);
    background-position: left 4% bottom 100%;
  }

  .about__icon {
    height: 80px;
    width: 80px;
    margin-bottom: 8px;
  }

  .teachers__item {
    margin-bottom: 23px;
  }

  .teachers__content {
    padding-bottom: 49px;
  }

  .courses__item {
    min-height: 617px;
    margin-bottom: 30px;
  }

  .courses__subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 115%;
    margin-bottom: 10px;
  }

  .courses__descr{
    margin-bottom: 33px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  .courses__btn {
    padding: 21px 48px;
    border-radius: 20px;
  }
}

@media (max-width: 575px) {

  .header {
    height: 118px;
  }
  
  .header__nav{
    width: 100%;
    scrollbar-width: none;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .header__nav::-webkit-scrollbar{
    display: none;
  }

  .header__content {
    height: 120px;
    padding-left: 20px;
  }

  .header__link {
    font-size: 18px;
    font-weight: 400;
  }

  .hero {
    max-height: 352px;
    margin-bottom: 50px;
  }

  .main {
    min-height: 353px;
    padding-top: 50px;
  }

  .hero__title {
  max-width: 226px;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 5px;
  }

  .hero__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 45px;
  }

  .hero__btn {
    min-width: 213px;
    padding: 21px 50px;
    font-size: 16px;
    font-weight: 700;
  }

  .about {
    margin-bottom: 45px;
  }

  .about__title {
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  }

  .about__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  }

  .about__list {
    gap: 20px;
  }

  .about__content {
    padding-left: 15px;
    background-image: none;
  }

  .about__list {
    flex-direction: column;
  }

  .about__item {
    flex-direction: row;
  }

  .teachers__content {
    padding-top: 47px;
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
  }

  .teachers__photo {
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
  }

  .teachers__title {
    margin-bottom: 27px;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
  }

  .teachers__subtitle {
    margin-bottom: 5px;
  }

  .teachers__descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  .courses {
    margin-bottom: 0;
  }

  .courses__list {
    margin-bottom: 13px;
  }

  .courses__item {
    min-height: 653px;
  }

  .courses__content {
    padding-top: 45px;
  }

  .courses__title {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
  }

  .courses__subtitle {
    line-height: 130%;
  }

  .courses__descr {
    margin-bottom: 80px;
  }

  .courses__btn {
    padding: 22px 55px;
  }
}


