html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.page {
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    min-width: 320px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 50px;
 }

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    outline: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

:root {
  --black: #121723;
  --dark-grey: #292E39;
  --grey: #A1A6B4;
  --light-grey: #D2D5DD;
  --gray-outline: #e6e8ec;
  --light-basic: #E1670E;
  --mustard: #BB973E;
  --beige: #F0D288;
  --blue: #0039A6;
  --red: #D52B1E;
  --purple: #4F28A5;
  --lavander: #6D31EE;
  --light-purple: #AA9DFA;
  --ivory: #F5F6F7;
  --white: #fff;
  --gap: 30px;
}

@font-face {
  font-family: "Muller";
  src: local(""),
  url("../fonts/MullerBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local(""),
  url("../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local(""),
  url("../fonts/MullerMedium.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local(""),
  url("../fonts/MullerLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 34px 34px;
}

.header__nav {
  display: flex;
}

.header__list {
  display: flex;
  gap: 60px;
}

.header__link {
  font-size: 20px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    background-image: url(../img/microphone.png);
    background-repeat: no-repeat;
    background-position: 75% 0%;
    background-size: 350px 372px;
}

.hero__title {
  margin: 0;
  font-size: 60px;
  margin-bottom: 15px;
}

.hero__descr {
  margin: 0;
  max-width: 635px;
  font-size: 16px;
  margin-bottom: 45px;
}

.hero__btn {
    color: var(--ivory);
    background-color: var(--lavander);
    border-radius: 40px;
    padding: 25px 54px;
    width: 249px;
    height: 77px;
}

.podcasts {
  background-color: var(--grey);
}

.podcasts__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 200;
}

.podcasts__content {
  padding-top: 90px;
  padding-bottom: 90px;
}

.podcasts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.podcasts__card {
  width: calc((100% - var(--gap)*2)/2);
  padding-top: 40px;
  padding-left: 140px;
  padding-right: auto;
  min-height: 140px;
  background-color: var(--white);
}

.podcasts_01 {
  background-image: url(../img/podcast_pic1.jpg);
  background-repeat: no-repeat;
}

.podcasts_02 {
  background-image: url(../img/podcast_pic2.jpg);
  background-repeat: no-repeat;
}

.podcasts_03 {
  background-image: url(../img/podcast_pic3.jpg);
  background-repeat: no-repeat;
}

.podcasts_04 {
  background-image: url(../img/podcast_pic4.jpg);
  background-repeat: no-repeat;
}

.podcasts_05 {
  background-image: url(../img/podcast_pic5.jpg);
  background-repeat: no-repeat;
}

.podcasts_06 {
  background-image: url(../img/podcast_pic6.jpg);
  background-repeat: no-repeat;
}

.podcasts_07 {
  background-image: url(../img/podcast_pic7.jpg);
  background-repeat: no-repeat;
}

.podcasts_08 {
  background-image: url(../img/podcast_pic8.jpg);
  background-repeat: no-repeat;
}

.podcasts__time {
  font-size: 12px;
  color: var(--black);
}

.podcasts__subtitle {
  font-size: 20px;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 2px;
}

.podcasts__speaker {
  font-size: 12px;
  margin-top: 0;
  color: var(--grey);
}

.shows__title {
  margin: 0;
  font-size: 48px;
  font-weight: 200;
}

.shows__content {
  display: flex;
}

.shows__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.shows__card {
  display: flex;
  flex-direction: column;
  padding-top: 168px;
  padding-left: 16px;
  padding-bottom: 20px;
  width: calc((100% - var(--gap)*3)/3);
  outline: 1px solid var(--gray-outline);
}

.shows__card button.shows__details {
  margin-right: auto;
}

.shows__01 {
  background-image: url(../img/broadcast_pic1.jpg);
  background-repeat: no-repeat;
}

.shows__02 {
  background-image: url(../img/broadcast_pic2.jpg);
  background-repeat: no-repeat;
}

.shows__03 {
  background-image: url(../img/broadcast_pic3.jpg);
  background-repeat: no-repeat;
}

.shows__04 {
  background-image: url(../img/broadcast_pic4.jpg);
  background-repeat: no-repeat;
}

.shows__05 {
  background-image: url(../img/broadcast_pic5.jpg);
  background-repeat: no-repeat;
}

.shows__06 {
  background-image: url(../img/broadcast_pic6.jpg);
  background-repeat: no-repeat;
}

.shows__name {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 300;
  color: var(--black);
}

.shows__descr {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 12px;
  color: var(--grey);
}

.shows__archive {
  display: flex;
  flex-direction: column;
  background-image: url(../img/microphone.png);
  background-repeat: no-repeat;
  background-size: 85px 89px;
  background-position: 0 70%;
}

.shows__details {
  font-size: 16px;
  font-style: italic;
}

.shows__btn {
  max-width: 200px;
  padding: 12px 56px;
  margin-top: auto;
  margin-bottom: 15px;
  outline: 2px solid var(--black);
  border-radius: 77px;
}

.shows__text {
  margin-top: 0;
  font-size: 16px;
  color: var(--grey);
}

.guests {
  background-color: var(--black);
}

.guests__content {
  padding-top: 94px;
  padding-bottom: 94px;
}

.guests__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 48px;
  font-weight: 200;
  color: var(--white);
}

.guests__textbold {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 300;
  color: var(--grey);
}

.guests__textnormal {
  display: inline-block;
  max-width: 825px;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--grey);
}

.guests__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.guests__card {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  padding-left: 460px;
  min-height: 272px;
}

.guests__name {
  margin-top: 0;
  font-size: 20px;
  color: var(--white);
}

.guests__descr {
  max-width: 458px;
  margin-top: 0;
  margin-bottom: 88px;
  font-size: 16px;
  color: var(--grey);
}

.guests__btn {
  padding: 12px 20px;
  font-size: 16px;
  color: var(--light-purple);
  border-radius: 77px;
  outline: 2px solid var(--light-purple);
}

.guest__photo1 {
  background-image: url(../img/guest1.jpg);
  background-repeat: no-repeat;
}

.guest__photo2 {
  background-image: url(../img/guest2.jpg);
  background-repeat: no-repeat;
}

.guest__photo3 {
  background-image: url(../img/guest3.jpg);
  background-repeat: no-repeat;
}

.playlists__content {
  display: flex;
}

.playlists__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.playlists__title {
  margin-top: 0;
  font-size: 48px;
  font-weight: 200;
}

.playlists__header {
  display: flex;
  flex-direction: column;
}

.playlists__text {
  margin-top: 0;
  /* max-width: 350px; */
  font-size: 16px;
  color: var(--grey);
}

.playlists__item {
  padding-top: 161px;
  width: calc((100% - var(--gap)*3)/4);
}

.item__content {
  max-width: 160px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  outline: 1px solid var(--gray-outline);
}

.playlists__name {
  margin-top: 0;
  font-weight: 300;
}

.playlists__descr {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  color: var(--grey);
}

.playlist_1 {
  background-image: url(../img/playlist1.jpg);
  background-repeat: no-repeat;
}

.playlist_2 {
  background-image: url(../img/playlist2.jpg);
  background-repeat: no-repeat;
}

.playlist_3 {
  background-image: url(../img/playlist3.jpg);
  background-repeat: no-repeat;
}

.playlist_4 {
  background-image: url(../img/playlist4.jpg);
  background-repeat: no-repeat;
}


.playlist_5 {
  background-image: url(../img/playlist5.jpg);
  background-repeat: no-repeat;
}


.playlist_6 {
  background-image: url(../img/playlist6.jpg);
  background-repeat: no-repeat;
}


.playlist_7 {
  background-image: url(../img/playlist7.jpg);
  background-repeat: no-repeat;
}


.playlist_8 {
  background-image: url(../img/playlist8.jpg);
  background-repeat: no-repeat;
}


.playlist_9 {
  background-image: url(../img/playlist9.jpg);
  background-repeat: no-repeat;
}


.playlist_10 {
  background-image: url(../img/playlist10.jpg);
  background-repeat: no-repeat;
}


.playlist_11 {
  background-image: url(../img/playlist11.jpg);
  background-repeat: no-repeat;
}


.playlist_12 {
  background-image: url(../img/playlist12.jpg);
  background-repeat: no-repeat;
}

.promo {
  background-color: var(--dark-grey);
}

.promo__content {
  display: flex;
  flex-direction: column;
  padding-top: 95px;
  padding-bottom: 133px;
  width: 50%;
  background-repeat: no-repeat;
}

.promo__pic {
  display: flex;
  /* background-image: url(../img/radio.png); */
  background-repeat: no-repeat;
  background-size: 100%;
}

/* .pic__item {
  size: 100%;
} */

.promo__title {
  margin-top: 0;
  font-size: 48px;
  font-weight: 200;
  color: var(--beige);
}

.promo__text {
  margin-top: 0;
  font-size: 16px;
  color: var(--white);
}

.promo__price {
  margin-bottom: 30px;
  font-size: 30px;
  color: var(--white);
}

.promo__btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 25px 40px;
  max-width: 300px;
  border-radius: 100px;
  outline: 2px solid var(--beige);
}

.btn__text {
  font-size: 20px;
  color: var(--beige);
}

.about {
  background-color: var(--black);
}

.about__title {
  font-size: 48px;
  font-weight: 200;
  color: var(--white);
}

.about__textbold {
  margin-top: 0;
  font-weight: 300;
  color: var(--grey);
}
  
.about__textnormal {
  margin-top: 0;
  color: var(--grey);
}

.about__list {
  display: flex;
  gap: var(--gap);
}

.about__01 {
  background-image: url(../img/about1.jpg);
  background-repeat: no-repeat;
}

.about__02 {
  background-image: url(../img/about2.jpg);
  background-repeat: no-repeat;
}

.about__03 {
  background-image: url(../img/about3.jpg);
  background-repeat: no-repeat;
}

.about__04 {
  background-image: url(../img/about4.jpg);
  background-repeat: no-repeat;
}