html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.visually-hidden {
    display: none;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  background-color: #F1F1F1;
}

:root {
  --yellow-one:#F0BF5F;
  --yellow-two: #C93;
  --yellow-three: #A47312;
  --light-blue: #CEE8FA;
  --white: #F1F1F1;
  --grey-one: #E9E9E9;
  --grey-two: #999;
  --grey-three: #666;
  --black-one: #333;
  --black-two: #000;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegular"),
  url("../fonts/MullerRegular.woff") format("woff"),
  url("../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerBold"),
  url("../fonts/MullerBold.woff") format("woff"),
  url("../fonts/MullerBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerLight"),
  url("../fonts/MullerLight.woff") format("woff"),
  url("../fonts/MullerLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerMedium"),
  url("../fonts/MullerMedium.woff") format("woff"),
  url("../fonts/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
    width: 1170px;
	  margin: 0 auto;
}

.header {
  padding-top: 30px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.header-sub-container {
    width: 1170px;
    min-height: 54px;
	  margin: 0;
    margin-bottom: 30px;
    align-items: center;
}

.logo {
  margin: 0;
  margin-right: 40px;
}

.header-tel {
  margin: 0;
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
  transition: color 0.3s ease-in-out;
}

.header-tel:hover:not(:focus-visible) {
  color: #CC9933;
}

.header-tel:focus-visible {
  outline: 0;
  outline: 1px solid #C93;
  outline-offset: 5px;
}

.header-tel:active:not(:focus-visible) {
  color: #A47312;
}

.header-logo {
  border-radius: 15px;
  overflow: hidden;
}

.header-navigation {
  width: 1170px;
  justify-content: space-around;
  align-items: center;
}

.header-nav {
  min-height: 70px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666;
}

.header-link {
  transition: color, border-color 0.3s ease-in-out;
}

.header-link:hover:not(:focus-visible) {
  color: #CC9933;
}

.header-link:focus-visible {
  outline: 0;
  outline: 1px solid #C93;
  outline-offset: 5px;
  color: #CC9933;
}

.header-link:active:not(:focus-visible) {
  color: #A47312;
}

.header-list {
  justify-content: flex-start;
}

.nav-btn:not(:last-child) {
  margin-right: 45px;
}

.pers-account {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  transition: color 0.3s ease-in-out;
}

.pers-acc-icon {
  margin-right: 5px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pers-account:focus-visible {
  outline: 0;
  outline: 1px solid #CC9933;
  outline-offset: 5px;
  color: #CC9933;
}

.pers-account:hover:not(:focus-visible) {
  color: #F0BF5F;
}

.pers-account:hover svg {
  fill: #F0BF5F;
}


.pers-account:active:not(:focus-visible) {
  color: #A47312;
}

.pers-account:active:not(:focus-visible) svg {
  fill: #A47312;
}

.nav-btn {
  height: 42px;
  padding: 13px 20px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  transition: background-color, border-color 0.3s ease-in-out;
}

.nav-btn:focus-visible {
  outline: 0;
  background-color: #CC9933;
  color: #FFFFFF;
}

.nav-btn:hover:not(:focus-visible) {
  background-color: #CC9933;
  color: #FFFFFF;
}

.nav-btn:active:not(:focus-visible) {
  background-color: #A47312;
  border-color: #A47312;
  color: #FFFFFF;
}

.pers-acc-icon {
  margin-right: 5px;
}

/* special offers */

.section-title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 45px;
  font-weight: 400;
  font-size: 40px;
  color: #333;
}

.section-subtitle {
  margin: 0;
}

.special-offers-content {
  min-height: 600px;
  display: flex;
  margin-bottom: 70px;
}

.special-offers-block {
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px) / 2);
}
.special-offers-block:not(:last-child) {
  margin-right: 24px;
}

.special-offer-item {
  flex: 1;
  margin-bottom: 24px;
  padding: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 258px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.special-offer-item svg {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.special-offer-item:last-child {
  margin-bottom: 0;
}

.special-offer-item:focus-visible {
  /* outline: 0; */
  outline: 1px solid #C93;
  outline-offset: 8px;
}

.special-offer-item:hover:not(:focus-visible) svg {
  transform: translateX(5px);
}

.special-offer-item:active:not(:focus-visible) {
  color: #FFF;
}

.special-offers-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}

.right-title {
  font-size: 60px;
}

.special-offers-descr {
  margin-top: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  opacity: 0.8;
}

.right-descr {
  font-size: 30px;
}

.special-offers-btn {
  max-width: max-content;
  font-weight: 400;
  font-size: 16px;
  color: #F0BF5F;
}

.special-offers-btn {
  display: inline-flex;
  align-items: center;
}

.more-details{
  display: block;
  margin-right: 5px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.more-details:active:not(:focus-visible) {
  color: #FFF;
}

.special-offer-details {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: #F0BF5F;
  transition: transform 0.3s ease-in-out;
}

.item-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 540px;
}

.special__item:last-child {
  margin-bottom: 0;
}

.special-bg-image-01 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%), url("../img/maldives.png");
  border-radius: 15px;
}

.special-bg-image-02 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%), url("../img/crite.png");
  border-radius: 15px;
}

.special-bg-image-03 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%), url("../img/luxe.png");
  border-radius: 15px;
}

/* about us */

.about-us {
  margin-bottom: 70px;
}

.about-us-descr {
  margin: 0;
  max-width: 890px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* services */

.services {
  margin-bottom: 70px;
}

.service-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.service-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  vertical-align: top;
  background-repeat: no-repeat;
  padding: 191px 45px 45px 45px;
  margin: 0 24px 24px 0;
  min-height: 330px;
  width: 573px;
  background-color: #FFFFFF;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.service-list-item:focus-visible {
  outline: solid 1px #CC9933;
  outline-offset: 8px;
}

.service-list-item svg path {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.service-btn {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
}

.service-btn:hover:not(:focus-visible) svg path {
  stroke: #F0BF5F;
  transform: translateX(5px);
}

.service-btn:hover:not(:focus-visible) {
  color: #F0BF5F;
}

.service-btn:active:not(:focus-visible) {
  color: #A47312;
}

.service-btn:active:not(:focus-visible) svg path {
  stroke: #A47312;
}

.service-more-details {
  margin-right: 5px;
}

.service-list-item:nth-child(2n) {
  margin-right: 0;
}

.service-bg-image-01 {
  background-image: url("../img/service-pic-1.jpg");
  border-radius: 15px;
}

.service-bg-image-02 {
  background-image: url("../img/service-pic-3.jpg");
  border-radius: 15px;
}

.service-bg-image-03 {
  background-image: url("../img/service-pic-2.jpg");
  border-radius: 15px;
  margin-bottom: 0;
}

.service-bg-image-04 {
  background-image: url("../img/service-pic-4.jpg");
  border-radius: 15px;
  margin-bottom: 0;
}

.service-descr {
  margin: 0;
  padding: 0;
  max-width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* advantages */

.advantages {
  margin-bottom: 70px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-list-item {
    align-items: baseline;
    background-repeat: no-repeat;
    padding-top: 116px;
    padding-left: 45px;
    padding-right: 45px;
    margin-right: 22px;
    margin-bottom: 22px;
    width: 276px;
    min-height: 276px;
    background-color: #FFFFFF;
}

.advantages-list-item:nth-child(4n) {
  margin-right: 0;
}

.bg-image-01 {
    background-image: url("../img/advantages-icon-01.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-02 {
    background-image: url("../img/advantages-icon-02.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-03 {
    background-image: url("../img/advantages-icon-03.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-04 {
    background-image: url("../img/advantages-icon-04.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-05 {
    background-image: url("../img/advantages-icon-05.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-06 {
    background-image: url("../img/advantages-icon-06.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-07 {
    background-image: url("../img/advantages-icon-07.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-08 {
    background-image: url("../img/advantages-icon-08.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.advantages-descr {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* location */

.location {
  margin-bottom: 70px;
}

.location-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-repeat: no-repeat;
  padding: 0;
  margin-right: 22px;
  margin-bottom: 22px;
  max-width: 374px;
  min-height: 440px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.location-item:nth-child(3n) {
  margin-right: 0;
}

.price-rating-container {
  margin-bottom: 16px;
}

.price-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.from {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.per-night {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.location-content {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 32px;
}

.price-rating-container {
  display: flex;
  justify-content: space-between;
}

.hotel-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.location-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.rooms-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  height: 42px;
  width: 100px;
  transition: background-color, border-color 0.3s ease-in-out;
}

.rooms-btn:focus-visible {
  outline: 0;
  background-color: #CC9933;
  color: #FFFFFF;
}

.rooms-btn:hover:not(:focus-visible) {
  background-color: #CC9933;
  color: #FFFFFF;
}

.rooms-btn:active:not(:focus-visible) {
  background-color: #A47312;
  border-color: #A47312;
  color: #FFFFFF;
}


.location-options-btn {
  display: inline-flex;
  align-items: center;
}

.location-options-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.see-all-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/location-09.jpg");
  background-color: #CC9933;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 374px;
  min-height: 440px;
  padding: 27px;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFF;
  transition: transform 0.3s ease-in-out;
}

.see-all-btn svg {
  transition: transform 0.3s ease-in-out;
}

.see-all-btn:hover:not(:focus-visible) svg {
  transform: translateX(5px);
}

/* tour */

.tour {
  margin-bottom: 70px;
}

.tour-content {
  min-height: 256px;
  padding: 45px 40px;
  border-radius: 15px;
  background: #E9E9E9;
}

.tour-title {
  margin-left: 0;
}

.tour-nav {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  padding: 31px 28px;
  border-radius: 15px;
  background-color: #fff;
  min-height: 106px;
}

.tour-form {
  border: none;
  outline: none;
}

.tour-city {
  flex-direction: column;
  justify-content: center;
}

.tour-country {
  flex-direction: column;
  justify-content: center;
}

.tour-date {
  flex-direction: column;
  justify-content: center;
}

.tour-nights {
  flex-direction: column;
  justify-content: center;
 }

 .tourists {
  flex-direction: column;
  justify-content: center;
 }

 .form-label {
  margin-bottom: 15px;
  font-size: 12px;
 }

 .tour-input {
  width: 120px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #E9E9E9;
 }

 .city-select {
  border: none;
 }

 .country-select {
  border: none;
 }

 .date-input {
  border: none;
 }

/* contacts */


.address {
  font-style: normal;
}

.contacts {
  margin-bottom: 40px;
}

.contacts-box {
  max-width: 1170px;
  min-height: 618px;
  padding: 45px;
  border-radius: 15px;
  background: #FFF;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  margin-right: 52px;
}

.contacts-item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  padding-bottom: 22px;
  padding-top: 25px;
  border-bottom: 1px solid #E9E9E9;
}

.contacts-item:first-child {
  padding-top: 0;
}

.contacts-item:last-child {
  margin-bottom: 45px;
}

.contacts-descr {
  max-width: 225px;
  line-height: 150%;
}

.contacts-title {
  margin: 0;
  width: 150px;
}

.email {
  color: #C93;
  font-size: 16px;
  font-weight: 400;
  transition: color, 0.3s ease-in-out;
}

.email:focus-visible {
  outline: 0;
  outline: 1px solid #C93;
  outline-offset: 5px;
  color: #CC9933;
}

.email:hover:not(:focus-visible) {
  color: #F0BF5F;
}

.email:active:not(:focus-visible) {
  color: #A47312;
}

.email-descr {
  margin: 0;
  color: #999;
  font-size: 16px;
  font-weight: 400;
}

.tel {
  color: #C93;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

.tel:focus-visible {
  outline: 0;
  outline: 1px solid #C93;
  outline-offset: 5px;
}

.tel:hover:not(:focus-visible) {
  color: var(--yellow-one);
}

.tel:active:not(:focus-visible) {
  color: #A47312;
}

.contacts-image {
  min-width: 653px;
  height: cover;
}

.get-direction {
  display: flex;
  justify-content: center;
  height: 70px;
  padding-top: 28px;
  padding-right: 30px;
  padding-bottom: 28px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 16px;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  transition: background-color, border-color 0.3s ease-in-out;
}

.get-direction:focus-visible {
  outline: 0;
  background-color: #CC9933;
  color: #FFFFFF;
}

.get-direction:hover:not(:focus-visible) {
  background-color: #CC9933;
  color: #FFFFFF;
}

.get-direction:active:not(:focus-visible) {
  background-color: #A47312;
  border-color: #A47312;
  color: #FFFFFF;
}

/* footer */

.footer-box {
  display: flex;
  width: 1170px;
  min-height: 340px;
  border-radius: 15px;
  padding: 45px;
  background: #333;
  background-image: url('../img/footer-logo.png');
  background-repeat: no-repeat;
  background-position: 739px bottom;
}

.footer-text-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 123px;
}

.footer-text-middle {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.footer-text {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  max-width: 302px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 190%;
 }

 .right {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
 }

.user-consent {
  color: #C93;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

.user-consent:hover:not(:focus-visible) {
  color: var(--yellow-one);
}

.user-consent:active:not(:focus-visible) {
  color: var(--yellow-three);
}

.footer-tel-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.footer-tel {
  color: #C93;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.3s color ease-in-out;
}

.footer-tel:hover:not(:focus-visible) {
  color: #F0BF5F;
}

.footer-tel:active:not(:focus-visible) {
  color: #A47312;
}

.footer-email {
  color: #C93;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: color, 0.3s ease-in-out;
}

.footer-email:focus-visible {
  outline: 0;
  outline: 1px solid #C93;
  outline-offset: 5px;
  color: #CC9933;
}

.footer-email:hover:not(:focus-visible) {
  color: #F0BF5F;
}

.footer-email:active:not(:focus-visible) {
  color: #A47312;
}

.social-media {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  transition: fill 0.3s ease-in-out;
}

.tripadvisor:focus-visible svg path {
  fill: var(--yellow-two)
}

.tripadvisor:hover:not(:focus-visible) svg path {
  fill: var(--yellow-two)
}

.tripadvisor:active:not(:focus-visible) svg path {
  fill: var(--yellow-three)
}

.vk:focus-visible svg path {
  fill: var(--yellow-two)
}

.vk:hover:not(:focus-visible) svg path {
  fill: var(--yellow-two)
}

.vk:active:not(:focus-visible) svg path {
  fill: var(--yellow-three)
}

.odnoklassniki:focus-visible svg path {
  fill: var(--yellow-two)
}

.odnoklassniki:hover:not(:focus-visible) svg path {
  fill: var(--yellow-two)
}

.odnoklassniki:active:not(:focus-visible) svg path {
  fill: var(--yellow-three)
}

.social-media:last-child {
margin-bottom: 0;
}
