html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.visually-hidden {
    display: none;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  background-color: #F1F1F1;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegular"),
  url("../fonts/MullerRegular.woff") format("woff"),
  url("../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerBold"),
  url("../fonts/MullerBold.woff") format("woff"),
  url("../fonts/MullerBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerLight"),
  url("../fonts/MullerLight.woff") format("woff"),
  url("../fonts/MullerLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerMedium"),
  url("../fonts/MullerMedium.woff") format("woff"),
  url("../fonts/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
    width: 1170px;
	  margin: 0 auto;
}

.header {
  padding-top: 30px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.header-sub-container {
    width: 1170px;
    min-height: 54px;
	  margin: 0;
    margin-bottom: 30px;
    align-items: center;
}

.logo {
  margin: 0;
  margin-right: 40px;
}

.header-tel {
  margin: 0;
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
}

.header-logo {
  border-radius: 15px;
  overflow: hidden;
}

.header-navigation {
  width: 1170px;
  justify-content: space-around;
  align-items: center;
}

.header-nav {
  min-height: 70px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666;
}

.header-list {
  justify-content: flex-start;
}

.nav-btn:not(:last-child) {
  margin-right: 45px;
}

.pers-account {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.nav-btn {
  height: 42px;
  padding: 13px 20px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.pers-acc-icon {
  margin-right: 5px;
}

/* special offers */

.section-title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 40px;
  color: #333;
}

.section-subtitle {
  margin: 0;
}

.special-offers-content {
  min-height: 600px;
  display: flex;
  margin-bottom: 70px;
}

.special-offers-block {
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px) / 2);
}
.special-offers-block:not(:last-child) {
  margin-right: 24px;
}

.special-offer-item {
  flex: 1;
  margin-bottom: 24px;
  padding: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 258px;
}

.special-offer-item:last-child {
  margin-bottom: 0;
}

.special-offers-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}

.right-title {
  font-size: 60px;
}

.special-offers-descr {
  margin-top: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  opacity: 0.8;
}

.right-descr {
  font-size: 30px;
}

.special-offers-btn {
  max-width: max-content;
  font-weight: 400;
  font-size: 16px;
  color: #F0BF5F;
}

.special-offers-btn {
  display: inline-flex;
  align-items: center;
}

.more-details{
  margin-right: 5px;
}

.special-offer-details {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: #F0BF5F;
}

.item-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 540px;
}

.special__item:last-child {
  margin-bottom: 0;
}

.special-bg-image-01 {
  background-image: url("../img/maldives.png");
  border-radius: 15px;
}

.special-bg-image-02 {
  background-image: url("../img/crite.png");
  border-radius: 15px;
}

.special-bg-image-03 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/luxe.png");
  border-radius: 15px;
}

/* about us */

.about-us {
  margin-bottom: 70px;
}

.about-us-descr {
  margin: 0;
  max-width: 890px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* services */

.services {
  margin-bottom: 70px;
}

.service-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.service-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  vertical-align: top;
  background-repeat: no-repeat;
  padding: 191px 45px 45px 45px;
  margin: 0 24px 24px 0;
  min-height: 330px;
  width: 573px;
  background-color: #FFFFFF;
}

.service-btn {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
}

.service-list-item:nth-child(2n) {
  margin-right: 0;
}

.service-bg-image-01 {
  background-image: url("../img/service-pic-1.jpg");
  border-radius: 15px;
}

.service-bg-image-02 {
  background-image: url("../img/service-pic-3.jpg");
  border-radius: 15px;
}

.service-bg-image-03 {
  background-image: url("../img/service-pic-2.jpg");
  border-radius: 15px;
  margin-bottom: 0;
}

.service-bg-image-04 {
  background-image: url("../img/service-pic-4.jpg");
  border-radius: 15px;
  margin-bottom: 0;
}

.service-descr {
  margin: 0;
  padding: 0;
  max-width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* advantages */

.advantages {
  margin-bottom: 70px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-list-item {
    align-items: baseline;
    background-repeat: no-repeat;
    padding-top: 116px;
    padding-left: 45px;
    padding-right: 45px;
    margin-right: 22px;
    margin-bottom: 22px;
    width: 276px;
    min-height: 276px;
    background-color: #FFFFFF;
}

.advantages-list-item:nth-child(4n) {
  margin-right: 0;
}

.bg-image-01 {
    background-image: url("../img/advantages-icon-01.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-02 {
    background-image: url("../img/advantages-icon-02.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-03 {
    background-image: url("../img/advantages-icon-03.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-04 {
    background-image: url("../img/advantages-icon-04.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-05 {
    background-image: url("../img/advantages-icon-05.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-06 {
    background-image: url("../img/advantages-icon-06.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-07 {
    background-image: url("../img/advantages-icon-07.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.bg-image-08 {
    background-image: url("../img/advantages-icon-08.svg");
    background-position: 40px 45px;
    border-radius: 15px;
}

.advantages-descr {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* location */

.location-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-repeat: no-repeat;
  padding: 0;
  margin-right: 22px;
  margin-bottom: 22px;
  max-width: 374px;
  min-height: 440px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.location-item:nth-child(3n) {
  margin-right: 0;
}

.price-rating-container {
  margin-bottom: 16px;
}

.price-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.from {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.per-night {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.location-content {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 32px;
}

.price-rating-container {
  display: flex;
  justify-content: space-between;
}

.hotel-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.location-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.rooms-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  height: 42px;
  width: 100px;
}

.location-options-btn {
  display: inline-flex;
  align-items: center;
}

.see-all-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../img/location-09.jpg");
    background-color: #CC9933;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 374px;
    min-height: 440px;
    padding: 27px;
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFF;
}

